<a href="https://colab.research.google.com/github/QianFu520/project2/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# First Choice Dataset 1: Spanish Wine Quality Dataset

**Source of data**


*   fedesoriano. (April 2022). Spanish Wine Quality Dataset. Retrieved [Date Retrieved] from https://www.kaggle.com/datasets/fedesoriano/spanish-wine-quality-dataset

**Brief description of data**


*   This dataset is related to red variants of spanish wines. The dataset describes several popularity and description metrics their effect on it's quality. 

*   The dataset contains 7500 different types of red wines from Spain with 11 features that describe their price, rating, and even some flavor description.

**What is the target?**


*   The target of this task is to predict the price of the red wine based on the given features.

**Is this a classification or regression problem?**


*   For this task, this is a regression problem

In [2]:
df = pd.read_csv("/content/Wine.csv")
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

**How many features? How many rows of data?**

In [5]:
print("There are 11 features and 7500 rows in this data")
df.shape

There are 11 features and 7500 rows in this data

(7500, 11)

**What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**

In [7]:
df.duplicated().sum()

5452

In [12]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [14]:
df.shape

(2048, 11)

In [15]:
df.isna().sum()

winery           0
wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
type           106
body           271
acidity        271
dtype: int64

The challenges I can foresee are: 


*   Cleaning the data: pick the best strategy to fill the missing values 
*   Modeling: pick the best model to make the prediction

# Second Choice dataset 2: Stroke Prediction

**Source of data**


*   Dataset link: https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset?resource=download

**Brief description of data**


*  Stroke is the 2nd leading cause of death globally. This data provides relavant information about the patient which including like the patient's gender, age, various diseases, and smoking status to predict whether a patient is likely to get stroke or not.

**What is the target?**


*   The target of this task is to predict whether a patient is likely to get stroke or not.

**Is this a classification or regression problem?**


*   This is a classification problem.

In [16]:
df2 = pd.read_csv("/content/stroke.csv")
df2.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

**How many features? How many rows of data?**

In [19]:
print("There are 12 features and 5110 rows in this data")
df2.shape

There are 12 features and 5110 rows in this data

(5110, 12)

**What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**

In [25]:
df2.duplicated().sum()

0

In [26]:
df2.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

The challenges I can foresee are:

Modeling: pick the best model to make the prediction